<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                </br>
                <p><strong>PlanesMadrid</strong></p>
                <p class="paragraph">Somos un blog dedicado a descubrir los mejores planes en Madrid. Explora con nosotros y vive experiencias únicas.</p>
            </div>
            <div class="col-md-3">
                <p>Síguenos</p>
                <ul class="list-unstyled">
                    <li><a href="https://www.tiktok.com/es/" class="text-link" target="_blank"><i class="fab fa-tiktok"></i> TikTok</a></li>
                    <li><a href="https://www.youtube.com/" class="text-link" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></li>
                    <li><a href="https://www.instagram.com/" class="text-link" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>Contacto</p>
                <p class="paragraph">Correo: info@planesmadrid.com</p>
                <p class="paragraph">Teléfono: +34 456 78 29 32</p>
            </div>
        </div>
    </div>
</footer>
