<div class="col">
  <div class="card h-100 border-0 shadow">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body bg-light text-black">
      <h5 class="card-title">{{title}}</h5>
      <p class="text-grey">{{location}}</p>
      <div class="image-holder">
        <img class="img-fit d-block" src="{{image}}" alt="foto artículo">
    </div>
      <div class="mt-3">
        <a href="/plans/{{_id}}" class="btn btn-secondary">Ver más</a>
      </div>
    </div>
  </div>
</div>
