<div class="col">
  <div class="card h-100">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{location}}</p>
      <small class="text-body-secondary"><a href="/plans/{{_id}}" class="link-opacity-50-hover">Ver más</a></small>
    </div>
  </div>
</div>