<div class="container my-5">
  <h1> ACTIVIDADES</h1>

  <p><strong>¿Qué tipo de actividades te interesan?</strong></p>

<form action="/activities" method="post" class="filter-container">
    {{#each categories}}
        <label>
            <input type="checkbox" name="category" value="{{name}}" {{#if isChecked}}checked{{/if}}> {{name}}
        </label>
    {{/each}}
    <button type="submit">Filtrar</button>
    <button type="button" onclick="resetFilters()">Quitar filtros</button>
</form>
  <div class="row g-4">
    {{#each activities}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> activityCard this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 7}} <div class="col-md-4">
    {{> activityCard this}}
</div>
{{/compare}}
{{/compare}}

{{#compare @index '>' 6}}
{{#compare @index '<=' 8}} <div class="col-md-6">
  {{> activityCard this}}
  </div>
  {{/compare}}
  {{/compare}}

  {{#compare @index '>' 8}} <div class="col-md-3">
    {{> activityCard this}}
</div>
{{/compare}}

  {{/each}}

  </div>
  </div>

  <script>
    // Función para resetear los filtros
    function resetFilters() {
      window.location.href = '/activities'; // Redirige a la página sin parámetros de consulta
    }
  </script>