<div class="container my-5">
  <div class="row g-4">
    {{#each mixedItems}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> homeCardLarge this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 5}} <div class="col-md-3">
    {{> homeCardSmall this}}
</div>
{{/compare}}
{{/compare}}

  {{#compare @index '>' 5}}
  {{#compare @index '<=' 7}} <div class="col-md-6">
    {{> homeCardLarge this}}
</div>
{{/compare}}
{{/compare}}


{{/each}}
<h1>Nuestras recomendaciones</h1>
{{#each mixedItems}}

{{#compare @index '>' 7}}
{{#compare @index '<=' 11}} <div class="col-md-3">

  {{> homeCardSmall this}}
  </div>
  {{/compare}}
  {{/compare}}
  {{/each}}
<button class="ver-mas-btn">Ver más</button>
  </div>
  </div>