<section class="hero-section section mt-5">
  <div class="container text-center">
    <h1 class="display-3">¡Los mejores planes de Madrid!</h1>
    <p class="lead">Descubre todas las actividades y eventos que están ocurriendo en tu ciudad.</p>
    <!-- Add any call-to-action buttons or elements here -->
  </div>
</section>

<section class="btn-section">
  <div class="container-sm mx-auto text-center">
    <a href="/books" class="btn btn-info">Ver planes</a>
  </div>
</section>