<div class="container my-5">
  <div class="row g-4">

    {{#each activities}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> homeCardLargeActivities this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 5}} <div class="col-md-3">
    {{> homeCardSmallActivities this}}
</div>
{{/compare}}
{{/compare}}
{{/each}}

{{#each events}}
  {{#compare @index '>' 0}}
  {{#compare @index '<=' 2}} <div class="col-md-6">
    {{> homeCardLargeEvents this}}
</div>
{{/compare}}
{{/compare}}
{{/each}}

   {{#each restaurants}}


  {{#compare @index '>' 0}}
  {{#compare @index '<=' 5}} <div class="col-md-3">
    {{> homeCardSmallRestaurants this}}
</div>
{{/compare}}
{{/compare}}
{{/each}}

<h1>Nuestras recomendaciones</h1>
{{#each restaurants}}
{{#compare @index '===' 2}}
 <div class="col-md-3">

  {{> homeCardSmallRestaurants this}}
  </div>
  {{/compare}}
  {{/each}}


{{#each events}}
{{#compare @index '===' 2}}
 <div class="col-md-3">

  {{> homeCardSmallEvents this}}
  </div>
  {{/compare}}
  {{/each}}


{{#each activities}}
{{#compare @index '===' 4}}
 <div class="col-md-3">

  {{> homeCardSmallActivities this}}
  </div>
  {{/compare}}
  {{/each}}
  
{{#each restaurants}}
{{#compare @index '===' 0}}
 <div class="col-md-3">

  {{> homeCardSmallRestaurants this}}
  </div>
  {{/compare}}
  {{/each}}


  </div>
  </div>