/*Estilos generales*/
* {
    margin: 0;
}

ul {
    list-style: none;
    margin:0;
}

a {
    text-decoration: none;
    color: black;
}

p,
.paragraph {
    font-size: 15px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
}

h1,
.heading1 {
    color: #333333;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    line-height: 32px;
    margin: 0 0 20px;
    text-align:center;
}

h2,
.heading2 {
    color: #333333;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0 0 6px;
    line-height: 30px;
}

h3,
.heading3 {
    color: #333333;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 14px;
    line-height: 28px;
}


/*ESTILOS DE LA HOME PAGE*/

/*home-post se encarga de dar estilo a la tarjeta entera*/
.home-post, .list-post {
    position: relative;
    margin-top: 30px;
}
/*Esto se encarga de los h2, h3 y párrafos que hay en cada tarjeta*/
.home-post h2 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.home-post h3 {
    margin-top: 5px;
    font-size: 15px;
}
.home-post p {
color:white;
    font-size: 15px;
    margin:0;
}

/*Esto es para que al hacer hover sobre la imagen, no se salga del padre*/
.image-holder  {
    overflow: hidden;
}
/*Esto es para que las imágenes ocupen el 100% de su padre*/
.image-holder img {
    width: 100%;
    overflow: hidden;
}

/*Esto es para la parte del fondo degradado donde está el texto de cada tarjeta*/
.text-container {
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    color: white;
    padding: 20px;
}

.text-link {
    color: white;
}
/*Esto es para que la categoría tenga un fondo de color*/
.category {
    background-color: red;
    border-radius: 25px;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
}

/*Esto se ocupa de que el texto se sitúa de forma flex, con un dos divs, 
el del texto a la izquierda y el creador, y comentarios a la derecha*/
.text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}

.text-content-small {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    text-align: left;
}
/*ESTILOS DE LAS VISTAS DE LISTADO DE POSTS*/
.text-container-list {
    position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 70%;
     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
     color: white;
     padding: 20px;
 }
 .card-text {
    color: white;
 }
 .image-zoom {
    transition: transform 0.3s ease; 
  }
  
  .image-holder:hover .image-zoom {
    transform: scale(1.08); 
  }
  .subrayado:hover {
    text-decoration: underline;
  }


  /*ESTILOS DE LA BARRA DE FILTRADO*/
.filter-form{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
}




  
.detalles-evento {
    margin-top: 10px;
}

.detalle-evento {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-evento {
    max-width: 100%;
    height: auto;
}

.detalles-evento {
    margin-top: 20px;
}

#map {
    height: 180px;
}

.ver-mas-btn {
    width: 100px; 
    margin: 0 auto; 
    display: block;
}

/*ESTILO USERS PROFILE*/

.profile-page {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.profile-header {
    background-color: #d8bd83;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-header h1 {
    margin-bottom: 10px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.text-center {
    text-align: center;
    font-size: 24px;
    color: #000000;
}


.btn-primary {
    display: inline-block; 
    margin: 0 auto; 
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #383a3d;
}

/*Estilo para editar perfil del usuario*/

.edit-profile-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #383a3d;
}

/*Estilos de login*/

#login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 5px;
    margin-bottom: 4px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 14px;
    color: #000203;
    margin-bottom: 8px;
}

input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.small-error {
    color: #d9534f;
}


button, a.btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: #fff;
}

button:hover, a.btn:hover {
    background-color: #000000;
}

a.btn.text-bg-light {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-top: 10px;
}

a.btn.text-bg-light:hover {
    background-color: #eee;
}

/*Estilos filtros*/

.filter-container {
    max-width: 1050px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Ajusta la distribución de los elementos */
}

/* Estilo específico para las etiquetas de los checkboxes */
.filter-container label {
    display: flex; /* Hace que las etiquetas sean flexibles */
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    margin-bottom: 10px;
    white-space: nowrap;
}

/* Estilo específico para los checkboxes */
.filter-container input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilo específico para el texto de la categoría */

/* Estilo específico para el botón de filtrar y quitar filtros */
.filter-container button { /* Hace que el botón sea en línea y respete el ancho del contenido */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.filter-container button[type="submit"] {
    background-color: #000000;
    display: inline-block;
    color: #fff;
}

.filter-container button[type="submit"]:hover {
    background-color: #2c3035;
}

.filter-container button[type="button"] {
    background-color: #dc3545;
    color: #fff;
}

.filter-container button[type="button"]:hover {
    background-color: #c82333;
}