<div class="profile-page">
  <div class="container profile-container">
    <div class="profile-header">
      <h1>{{currentUser.username}}</h1>
      <p><strong>Email: {{currentUser.email}}</strong></p>
      <a href="/users/{{currentUser._id}}/form" class="btn btn-primary">Editar Perfil</a>
    </div>

    <center><img {{#if currentUser}}class="rounded-user-image img-fit" src="{{currentUser.image}}"{{/if}} alt="Profile Image"></center>

    <h2>Planes creados</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each user.plans as |plan|}}
        <div class="col">
          {{>planCard plan}}
        </div>
      {{/each}}
    </div>
</br>

    <h2>Planes guardados</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each user.saves as |plan|}}
        <div class="col">
          {{>planCard plan}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
