<div class="profile-page">
  <div class="container profile-container">
    <div class="profile-header">
      <h1>{{currentUser.username}}</h1>
      <p><strong>Email: {{currentUser.email}}</strong></p>
      <a href="/users/{{currentUser._id}}/form" class="btn-primary btn:hover">Editar Perfil</a>
    </div>

    <img {{#if currentUser}}class="profile-image img-fluid" src="{{currentUser.image}}"{{/if}}class="fas fa-user-circle" alt="Profile Image">
    
    <h2>Planes creados</h2>

    {{#each user.plans as |plan|}}
      {{>planCard this}}
    {{/each}}
</br>
    <h2>Planes guardados</h2>
    {{#each user.saves as |plan|}}

      {{>planCard plan}}
    {{/each}}
  </div>
</div>