<div class="profile-page">
  <div class="container profile-container">
    <div class="profile-header">
      <h1>{{currentUser.username}}</h1>
      <p><strong>Email: {{currentUser.email}}</strong></p>
      <a href="/users/{{currentUser._id}}/form" class="btn-primary btn:hover">Editar Perfil</a>
    </div>

    <img class="profile-image" src="{{currentUser.image}}" alt="Profile Image">
    

    <div class="text-center">
      <i class="fas fa-user-circle"></i>
    </div>

    <h2>Planes creados</h2>

    {{#each user.plans as |plan|}}
      {{>planCard this}}
    {{/each}}
</br>
    <h2>Planes guardados</h2>

    {{#each user.savedPlans as |plan|}}
      {{>planCard this}}
    {{/each}}
  </div>
</div>