<div class="container my-5">
<h1> RESTAURANTES</h1>
  <div class="row g-4">
    {{#each restaurants}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> restaurantCard this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 7}} <div class="col-md-4">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}

  {{#compare @index '>' 6}}
  {{#compare @index '<=' 8}} <div class="col-md-6">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}


{{/each}}
{{#each restaurants}}
 <div class="col-md-3">

  {{> restaurantCard this}}
  </div>
 
  {{/each}}
  </div>
  </div>