<div class="container my-5">
<h1> RESTAURANTES</h1>
<p><strong>¿Qué tipo de cocina te interesa?</strong></p>


<form action="/restaurants" method="post" class="filter-container">
    {{#each categories}}
        <label>
            <input type="checkbox" name="category" value="{{name}}" {{#if isChecked}}checked{{/if}}> {{name}}
        </label>
    {{/each}}
    <button type="submit">Filtrar</button>
    <button type="button" onclick="resetFilters()">Quitar filtros</button>
</form>
  <div class="row g-4">
    {{#each restaurants}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> restaurantCard this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 7}} <div class="col-md-4">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}

  {{#compare @index '>' 6}}
  {{#compare @index '<=' 8}} <div class="col-md-6">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}


  {{#compare @index '>' 8}} <div class="col-md-3">
    {{> restaurantCard this}}
</div>
{{/compare}}


{{/each}}

  </div>
  </div>