<div class="container my-5">
<h1> RESTAURANTES</h1>
  <p><strong>¿Qué tipo de restaurantes te interesan?</strong></p>

  <div class="filter-bar">
    <form action="/restaurants" method="post" class="filter-form">
      <div class="filter-options">
        {{#each categories}}
        <label class="custom-label">
          <input type="checkbox" class="checkbox" name="category" value="{{name}}" {{#if isChecked}}checked{{/if}}> {{name}}
        </label>
        {{/each}}
      </div>
      <div class="filter-buttons">
        <button type="submit" class="btn btn-success">Filtrar</button>
        <button type="button" class="btn btn-dark" onclick="resetFilters()">Quitar filtros</button>
      </div>
    </form>
  </div>

  <div class="row g-4">
    {{#each restaurants}}
    {{#compare @index '<' 1}} <div class="col-md-12">
      {{> restaurantCard this}}
  </div>
  {{/compare}}

  {{#compare @index '>' 1}}
  {{#compare @index '<=' 7}} <div class="col-md-4">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}

  {{#compare @index '>' 6}}
  {{#compare @index '<=' 8}} <div class="col-md-6">
    {{> restaurantCard this}}
</div>
{{/compare}}
{{/compare}}


{{/each}}
{{#each restaurants}}
 <div class="col-md-3">

  {{> restaurantCard this}}
  </div>
 
  {{/each}}
  </div>
  </div>